html {
    font-size: 16px;
}
body {
    font-family: "Montserrat", sans-serif;
}

.header-container {
    background-image: url(./assets/Hills.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 48.625rem;
}

.logo-area {
    display: flex;
}

.logo-image img {
    display: block;
    width: 4rem;
    height: 4rem;
}

.logo-name {
    width: 9rem;
    font-size: 2.0625rem;
    letter-spacing: 0px;
    color: #0B0B0B;
    opacity: 1;
    font-weight: 800;
    line-height: 2.1rem;

}